
label{
	display: block;
	cursor: pointer;
	font-family: sans-serif;
	padding-bottom: 8px;
}

form ul{
	list-style: none;
	padding-left: 0;
}
form	li{
	 margin-bottom: 20px;
}
textarea{
	width:400px;
	height:300px;
}
